<%= stylesheet_link_tag "table" %>

<%= render :partial => "search_form" %>

<hr>

<p><b>Results for:</b> <%= @query %></p>

<table id="box-table-a">
	<thead>
		<tr>
			<th>Document Links</th>
		</tr>
	</thead>
	<tbody>
		<% if @search_type == "boolean" %>
			<% @accumulation.each do |docid| %>
				<tr>
					<td>
						<%= link_to docid.gsub(/[_]/, ' '),
							:controller => "home",
							:action => "result",
							:document => docid %>
						<br />
						URL: <%= url_for :controller => "home",
										 :action => "result", 
										 :document => docid,
								 		 :only_path => false %>
					</td>
				</tr>
			<% end %>
		<% elsif @search_type == "vector" %>
			<% @accumulation.each do |docid| %>
				<tr>
					<td>
						<%= link_to docid[0].gsub(/[_]/, ' '),
							:controller => "home",
							:action => "result",
							:document => docid[0] %>
						<br />
						URL: <%= url_for :controller => "home",
										 :action => "result", 
										 :document => docid[0],
								 		 :only_path => false %>
						<br />
						Ranking Score: <%= docid[1] %>
					</td>
				</tr>
			<% end %>
		<% else %>
			<% @accumulation.each do |docid| %>
				<tr>
					<td>
						<a href=<%= docid[0] %>><%= docid[0] %></a>
						<br />
						URL: <%= docid[0] %>
						<br />
						Ranking Score: <%= docid[1] %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>